@import url("../style.css");
/* @import "../style.css"; */

.header{
    background-color: var(--clr-charade);
}

.header-logo{
    display: inline-block;
    padding: 1rem 3rem 1rem 0;
    /* border: 1px solid green; */
}
.header-logo:hover,
.header-logo:active{
    cursor: pointer;
}


/** navigation */
/* .nav-list{
    border: 1px solid green;
} */

.nav-link > a{
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    text-align: center;

    display: block;
    padding: 1rem 2rem;
}
.nav-link>a:hover,
.nav-link>a:focus{
    cursor: pointer;
    background-color: var(--clr-donkey-brow);
}


.btn-sign__up{
    background-color:var(--clr-neutral-100);
}
.btn-sign__up > a{
    color: var(--clr-neutral-700);
}

/** nav-toggle   */
.nav-toggle{
    background-color: var(--clr-donkey-brow);
    width: 3rem;
    min-width: 3rem;
    height: 3rem;

    border: none;
    
    position: absolute;
    right: 2rem;
    top: .5rem;

    /* border: 10px solid green; */
}
.hamburger,
.hamburger::before,
.hamburger::after{
    width: 50%;
    height: 3px;   
    background-color: var(--clr-neutral-100);
    
    display: block;
    margin: 0 auto;
}
.hamburger::before,
.hamburger::after{
    content: "";
    width: 100%;
}
.hamburger::before{
    transform:translateY(-8px);
}
.hamburger::after{
    transform:translateY(5px);
}

.nav-hidden{
    visibility: hidden;
    height: 0;
    position: absolute;
}
.nav-visible{
    visibility: visible;
    height: auto;
    position: relative;
}

@media (min-width: 768px) {
    .nav-toggle{
        position: absolute;
        right: 5rem;
    }
}
@media (min-width:1000px) {
    .header-row{
        display: flex;
    }
    .header-nav{
        width: 100%;
    }


    .nav-list{
        display: flex;
        justify-content: space-between;
    }
    .nav-list__primary,
    .nav-list__secondary{
        display: flex;
    }

    .nav-toggle{
        visibility: hidden;
        height: 0;
        position: absolute;
    }
    .nav-hidden{
        visibility: visible;
        height: auto;
        position: relative;
    }
}