
//? Custom properties

//* color primary
$clr-charade: #2E323F;
$clr-bright_gray:#3b4050;
$clr-stom_gray: #6f737f;
$clr-donkey_brow: #a59678;

// * color neutral
$clr-neutral-100: #fff;
$clr-neutral-300: #eee;
$clr-neutral-700: #000;

// * font family
$ff-base: 'Montserrat', sans-serif;
$ff-bold: 'Oswald', sans-serif;

// * font size
$fs-100: .625rem;
$fs-200: .875rem;
$fs-300: 1rem;
$fs-400: 1.125rem;
$fs-500: 1.25rem;
$fs-600: 1.75rem;
$fs-700: 2.25rem;
$fs-800: 3.35rem;
$fs-900: 5.625rem;

// * font weight
$fw-light: 100;
$fw-regular: 300;
$fw-semi-regular: 400;
$fw-bold: 700;
$fw-black: 900;