@import './sass/header.scss';
@import './sass/hero';
@import './sass/solution';
@import './sass/about';
@import './sass/footer';

// ? theme 
@import './sass/theme_sass/variables';
@import './sass/theme_sass/compoment';

//? Custom properties
// //* color primary
// $clr-charede: #2E323F;
// $clr-bright_gray:#3b4050;
// $clr-stom_gray: #6f737f;
// $clr-donkey_brow: #a59678;
// // * color neutral
// $clr-neutral-100: #fff;
// $clr-neutral-300: #eee;
// $clr-neutral-700: #000;
// // * font family
// $ff-base: 'Montserrat', sans-serif;
// $ff-bold: 'Oswald', sans-serif;
// // * font size
// $fs-100: .625rem;
// $fs-200: .875rem;
// $fs-300: 1rem;
// $fs-400: 1.125rem;
// $fs-500: 1.25rem;
// $fs-600: 1.75rem;
// $fs-700: 2.25rem;
// $fs-800: 3.35rem;
// $fs-900: 5.625rem;
// // * font weight
// $fw-light: 100;
// $fw-regular: 300;
// $fw-semi-regular: 400;
// $fw-bold: 700;
// $fw-black: 900;



//! You can't using variables inside :root element
:root{
    /* primary */
    // --clr-charade : $charede;
    // --clr-bright-gray: $clr-bright_gray;
    // --clr-storm-gray: $clr-stom_gray;
    // --clr-donkey-brow: $clr-donkey_brow;
    //! $clr-charede: #2E323F;
    //! $clr-bright_gray:#3b4050;
    //! $clr-stom_gray: #6f737f;
    //! $clr-donkey_brow: #a59678;

    //TODO $clr-bright_gray: #{$var};
    //TODO $clr-charede: #{$var};
    //TODO $clr-stom_gray: #{$var};
    //TODO $clr-donkey_brow: #{$var};
    //* =>  result those are (variables of css) usen't multiple scss

    /* neutral */
    // --clr-neutral-100: #fff;
    // --clr-neutral-300: #eee;
    // --clr-neutral-700: #000;
    // !$clr-neutral-100: #fff;
    // !$clr-neutral-300: #eee;
    // !$clr-neutral-700: #000;

    /* font family */
    // --ff-base: 'Montserrat', sans-serif;
    // --ff-bold: 'Oswald', sans-serif;
    //! $ff-base: 'Montserrat', sans-serif;
    //! $ff-bold: 'Oswald', sans-serif;
    
    /* font size */
    // --fs-100: .625rem;
    // --fs-200: .875rem;
    // --fs-300: 1rem;
    // --fs-400: 1.125rem;
    // --fs-500: 1.25rem;
    // --fs-600: 1.75rem;
    // --fs-700: 2.25rem;
    // --fs-800: 3.35rem;
    // --fs-900: 5.625rem;
    // $fs-100: .625rem;
    // $fs-200: .875rem;
    // $fs-300: 1rem;
    // $fs-400: 1.125rem;
    // $fs-500: 1.25rem;
    // $fs-600: 1.75rem;
    // $fs-700: 2.25rem;
    // $fs-800: 3.35rem;
    // $fs-900: 5.625rem;
    
    /* font weight */
    // $fw-light: 100;
    // $fw-regular: 300;
    // $fw-semi-regular: 400;
    // $fw-bold: 700;
    // $fw-black: 900;
}


// ? Set box-sizing
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html{
    color-scheme: dark;
    scroll-behavior: smooth;
}

//? Base style

body{
    font-family: $ff-base;
    font-size: $fs-400;
    font-weight: $fw-regular;
    // color: var(--clr-neutral-100); false
    // color: $clr-bright_gray; true
    color: $clr-neutral-100;
    line-height: 1.5;
}

img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: $clr-neutral-100;
}
ul{
    list-style-type: none;
}

h1,h2,h3,h4,h5{
    font-family: $ff-bold;
}
h1{
    font-size: $fs-900;
}
h2{
    font-size: $fs-800;
}
h3{
    font-size: $fs-700;
}
h4{
    font-size: $fs-600;
}
h5{
    font-size: $fs-500;
}

@media (max-width:560px) {
    //!  variables don't run inside :root
    // :root{
    //     $fs-500: 1.25rem;
    //     $fs-600: 1.25rem;
    //     $fs-700: 1.75rem;
    //     $fs-800: 2.25rem;
    //     $fs-900: 3.35rem;
    // }
    body{
        font-size: .875rem;
    }
    h5 {
        font-size: 1.125rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h2 {
        font-size: 2.25rem;
    }
    h1 {
        font-size: 3.35rem;
    }
}
@media (max-width: 350px) {
    // $fs-500: 1.125rem;
    // $fs-600: 1.25rem;
    // $fs-700: 1.25rem;
    // $fs-800: 1.75rem;
    // $fs-900: 2.25rem;
    body{
        font-size: .625rem;
    }
    h5 {
        font-size: 1.125rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h1 {
        font-size: 2.25rem;
    }
}